<h1>These are all the tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <h3>
         <%=  link_to task.title, task_path(task) %>: <%= task.details %>
         <br>
         <p>
         <%= link_to 'Edit task', edit_task_path(task)%>
         </p>
         <p>
         <%= link_to 'Delete', task_path(task), method: :delete %>
         </p>
      </h3>
      <br>
    </li>
  <% end %>
</ul>


<%= link_to "create new task", new_task_path %>
